   /* Hides index3 (planner) until it is hovered over */
.index3
{
    opacity: 0;
}

.index3:hover
{
   opacity: 1;
}
#todo-count{
   display:none;
}
#index2{
   display:none;
   opacity:1;
}